---
redirect_from: "/portraits.html"
redirect_from: "/portfolio/people/"
description: "Portfolio of portraits and other photos"
keywords: "james curtin, james, curtin, photography, people, portrait"
title: "Portraits"
subtitle: "James W. Curtin"
slider: "peopleslider.html"
---
{% include header.html %}
			<div id="content-container" class=" layout-full">
				<div id="full-width" class="content">
					<div class="custom-page-content">
						{% include slider.html %}
						<div class="quick-gallery qg-full qg-full-col-4" id="section-2">
							{% include people.html %}
							<div class="clear"></div>
						</div>
					</div>
				</div> <!-- end main content holder (#content/#full-width) -->
				<div class="clear"></div>
			</div> <!-- end #content-container -->
{% include footer.html %}