---
redirect_from: "/assorted.html"
redirect_from: "/portfolio/assorted/"
description: "Portfolio of assorted photos"
keywords: "assorted, james curtin, james, curtin, photography"
title: "Assorted"
subtitle: "James W. Curtin"
slider: "assortedslider.html"
---
{% include header.html %}
			<div id="content-container" class=" layout-full">
				<div id="full-width" class="content">
					<div class="custom-page-content">
						{% include slider.html %}
						<div class="quick-gallery qg-full qg-full-col-3" id="section-2">
							{% include assorted.html %}
							<div class="clear"></div>
						</div>
					</div>
				</div> <!-- end main content holder (#content/#full-width) -->
				<div class="clear"></div>
			</div> <!-- end #content-container -->
{% include footer.html %}