---
redirect_from:
  - /portfolio/harvard/
  - /portfolio/harvard/jamescurtin.com
description: "Portfolio of photos taken at Harvard University"
keywords: "james curtin, james, curtin, photography, harvard"
title: "Harvard"
subtitle: "James W. Curtin"
slider: "harvardslider.html"
last_modified_at: 2018-03-18 20:18
---
{% include header.html %}
            <script src="../includes/js/photo_loader.js"></script>
			<div id="content-container" class=" layout-full">
				<div id="full-width" class="content">
					<div class="custom-page-content">
						<div class="slider">
							{% include slider.html %}
						</div>
						<div class="quick-gallery qg-full qg-full-col-3" id="section-2">
							{% include harvard.html %}
							<div class="clear"></div>
						</div>
					</div>
				</div> <!-- end main content holder (#content/#full-width) -->
				<div class="clear"></div>
			</div> <!-- end #content-container -->
{% include footer.html %}
