.feedback-author {
  opacity: 1 !important;
}
.form-div {
  max-width:600px;
  padding:20px;
  border: 1px solid #e9e9e9;
  border-radius: 4px;
}

.form-control[type="number"] {
  padding: 8px 0px 8px 18px;
}

.question input[type="radio"] {
  margin: 11px 0 0 11px;
}

.form-label {
  line-height:0.1;
}

.error-div > ul > li {
  color: red;
}

