body {
  font-size: 14px;
}

.answer_radio {
  float: right;
}

.feedback-author {
  opacity: 1 !important;
}
.player-headshot-md {
  height: 160px;
  width: 160px;
  border-style: solid;
  border-width: 2px;
}

.memberIcon {
  float: left;
  height: 50px;
  margin-right: 5px;
  width: 50px;
}

.scoreboard-panel {
  padding-left: 4px;
  padding-right: 4px;
}
.team-logo-md {
  padding-top: 10px;
  height: 80px;
  width: 240px;
}
.challenges-table td, .challenges-table th {
  border: 1px solid #fff;
  padding: 3px 7px 2px 7px;
  display: table-cell;
  vertical-align: inherit;
}

.challenges-table{
  width: 100%;
  border-spacing: 2px;
  display: table;
  border-color: none;
}

.challenges-table tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.challenges-table tr:nth-of-type(odd) {
  background-color: #eee;
}

.challenges-table th {
  font-size: 1em;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 4px;
  background-color: #ccc;
  color: #333;
}

.nopad {
  padding: 0;
}

.charity_head {
  font-weight: bold;
  text-align: center;
  font-size: 120%;
}

.points {
  font-weight: bold;
}

.panel-heading {
  font-size: 125%;
  font-weight: bold;
}
  
.panel-heading > a {
  float: right;
  font-size: 67%;
  padding-top: 4px;
}

.leadertable_small {
  width: 100%;
}

.leadertable {
  width: 100%;
}

.leadertable td {
  text-align: center;
}

.leadertable th {
  text-align: center;
}

.team_small_icon {
  width: 43px;
  overflow: hidden;
}

.team_small_icon img {
  height: 56px;
}

.pic_tweet {
  max-width:100px;
  margin: 2px;
  border: 4px solid #999;
  padding: 2px;
}

.pic_tweet.selected {
  border: 4px dashed #FF0000;
}

.submit_tweet {
  display: none;
}

.wrapper {
  padding-bottom: 0;
}  

#popup_invitation {
  font-size: 80%;
  color: #5088ce;
  cursor: pointer; 
}

#invitation_popup {
  display: none;
  width: 400px;
}

#invitation_popup input {
  width: 400px;
  border: 2px solid #5088ce;
  position: absolute;
  z-index: 1;
}

.under
{
position:absolute;
left:0px;
top:0px;
z-index:-1;
}
.over
{
position:absolute;
left:40px;
top:10px;
z-index:-1;
}