@font-face {
  font-family: 'TimesSq';
  src: url('/fonts/TIMES_SQ.TTF');
}

.navbar {
  min-width:360px; /* causes top not to cover the carousel */
}

.vm_blue {
  color: #558ed5;
}

.vm_purple {
  color: #604a7b;
}

.logo_name {
  text-transform: none;
}

.logo_top {
  vertical-align: top;
  font-size:125%;
}

.ico {
  display:block;
  float:left;
  height:48px;
  width:48px;
  margin: 0 10px 0 -5px;
  padding: 0;

  background-repeat: no-repeat;
  background-size: cover;
}

.feature h3 {
  display: table-cell;
  height: 48px;
  vertical-align: middle;
}

.carousel.carousel-fade .item {
  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -ms-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
}
.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
  left: 0;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0);
}
.carousel.carousel-fade .next,
.carousel.carousel-fade .prev {
  left: 0;
  z-index: 1;
}

.carousel.carousel-fade .carousel-control {
  z-index: 3;
}

.ico_big {
    height: 64px;
    width: 64px;
    margin: 8px 10px 0 -5px;
}

.ico-award {
  background-image: url(/img/icons/election/el_award.svg);
}

.ico-ballot {
  background-image: url(/img/icons/election/el_ballot.svg);
}

.ico-ballot-box {
  background-image: url(/img/icons/election/el_ballot_box.svg);
}

.ico-building {
  background-image: url(/img/icons/election/el_building.svg);
}

.ico-bullhorn {
  background-image: url(/img/icons/election/el_bullhorn.svg);
}

.ico-hat {
  background-image: url(/img/icons/election/el_hat.svg);
}

.ico-chat {
  background-image: url(/img/icons/election/el_chat.svg);
}

.ico-knight {
  background-image: url(/img/icons/election/el_knight.svg);
}

.ico-pen {
  background-image: url(/img/icons/election/el_pen.svg);
}

.ico-results {
  background-image: url(/img/icons/election/el_results.svg);
}

.ico-scales {
  background-image: url(/img/icons/election/el_scales.svg);
}

.ico-sign {
  background-image: url(/img/icons/election/el_sign.svg);
}

.ico-survey {
  background-image: url(/img/icons/election/el_survey.svg);
}

.ico-thumbs-up {
  background-image: url(/img/icons/election/el_thumbs_up.svg);
}

.ico-vote-sign {
  background-image: url(/img/icons/election/el_vote_sign.svg);
}

.inset_img {
  max-width:100%; 
  padding: 10px;
}

.feature p {
  color: #604a7b;
  margin: 0;  
}

.feedback-quote {
    color: #604a7b;
}

.feedback-author > .info {
    color: #604a7b;
}

.lotsatext {
  font-size:19px;
  color: #604a7b;
}

.lotsatext p {
  text-align: justify;
}

li {
    color: #604a7b;
}


.big_start {
  font-size: 175%;
}

.big_start2 {
    font-size: 150%;
    font-weight: bold;
}

.vm_publication {
  font-style: italic;
}

.feedback-author > .info h4 {
  margin-bottom:5px;
}
  
.feedback-author > .info p {
  line-height: 1em;  
  margin-bottom:2px;
}

.feedback-author {
/*  opacity: 1 !important; */
  min-height: 100px;
  min-width: 275px;
}

.team-picture {
  margin: auto;
  max-width: 160px;
}

.button-div{
  padding: 12px 8px;
  text-align: center;
}

/*************** Mission 2 ******************/

.step-tile {
  min-height:170px;
  padding:0;
}

.step-content {
  display: table-cell;
  font-size: 11.9px;
  text-align: center;
  vertical-align:middle;
}

.step-content p {
  line-height: 1.1em;
}

.step-right-arrow {
    background-image: url("/img/r-arrow.svg");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto 90px;
    padding-right: 40px;
    height: 183px;
    display:table;
}

.step-content2 {
  display: table-cell;
  text-align: center;
  vertical-align:middle;
  line-height: 30px;
}

.step-right-arrow2 {
    background-image: url("/img/r-arrow.svg");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto 45px;
    padding-right: 30px;
    height: 30px;
    display:table;
}
 
.step-final {
    height: 177px;
    display:table;
    background-image: url("/img/blue_circle.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 86% auto;
    color: #ffffff;
    padding: 0 30px;
}

.bubbles-top {
    background-image: url("/img/bubbles_top.svg");
    background-position: 10px -2px;
    background-repeat: no-repeat;
    background-size: 89% auto;
    height: 183px;
}

.bubbles-bottom {
    background-image: url("/img/bubbles_bottom.svg");
    background-position: 10px 122px;
    background-repeat: no-repeat;
    background-size: 89% auto;
    display:table;
    height: 100%;
}

@media (max-width: 992px) and (min-width: 768px) {
  .step-split {
    margin-left:182px;
  }
}

@media (max-width: 767px) {
  .step-tile {
    min-height:0;
  }
   
  .step-right-arrow {
    background-image: url("/img/d-arrow.svg");
    background-position: center bottom;
    background-size: 89px auto;
    height: auto;
    padding-bottom: 41px;
    padding-right: 0;
    margin: auto;
    max-width: 270px;
  }  
  
  .step-final {
    margin: auto;
    width: 156px;
    height: 162px;
  }
  
  .bubbles-top {
    background-position: center top;
    padding-top: 55px;
    height:144px;
    background-size: 110px auto;
  }
  
  .bubbles-bottom {
    padding-bottom: 100px;
    background-position: center 50px;
    background-size: 110px auto;
  }
}
    
    
/**************** news ***************/
.newsItem {
  clear: both;
  min-height:50px;
}

.newsHeadshot {
  width: 50px;
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
  height: 50px;
}

.navbar-nav > li > a > .newsHeadshot {
  margin-top: -16px;
}

@media (max-width: 767px) {
  .navbar-nav > li > .newsHeadshot {
    margin-top: 0;
    margin-left: 16px;
  }
}

.newsUname {
  font-size: 80%;
}

.newsMsg {
  font-style: bold;
}

.newsDate {
  font-size: 70%;
  font-style: italic;
}

.postnewswrapper {
  width: 100%;
}

#postnewstxt {
  width: calc(100% - 52px);
}

/************** Socreboard ************/
.scoreboard_val {
  font-family: 'TimesSq', Courier, monospace;
  text-align: center;
  font-size: 400%;
  line-height: 0.9;
  color: #48b248;
  background-color: #000000;
  
}

#team_score {
  
}

#player_score {
  
}

#high_score {
  color: #ff0000;
}

#days_until_election {
  color: #ff0000;
}

.scoreboard {
  background-color: #333333;
}

.container-frame {
  padding-bottom: 45px;
}

/*********** Join my team *************/
.join_specific_page h1 {
  text-align: center;
}

.join_specific_page img {
  display: block;
  margin: auto;
}

.join_specific_page .btn {
  display: block;
  margin: auto;
}
