/*
*   Homework Problem #2
*   sticky_notes.css
*   CS171
*   Submitted by: James Curtin
*
*   This submission used http://tutsplus.com for guidance
*   on the proper way to format sticky notes on the
*   screen.
* 
*   See also http://www.w3schools.com for assistance with 
*   rotation and alternating colors.
*/

{
  margin:5;
  padding:5;
}
body{
  font-family: 'Permanent Marker', cursive;
  font-size:100%;
  margin:0em;
  background:#666;
  color:#fff;
}
h1{
  text-align: center;
  font-size:200%;
  font-weight:bold;
  text-decoration:underline;
  color:#000;
}
h2{
  font-size:200%;
  font-weight:bold;
}
h3{
  font-family: 'Poiret One', cursive;
  font-weight: normal;
}
p{
  font-size:100%;
  font-weight:regular;
}

ul,li{
  list-style:none;
}
ul{
  overflow:hidden;
  padding:3em;
}
/*ul li:nth-child(n) a{
  text-decoration:none;
  color:#000;
  background:#fcc;
  display:block;
  height:15em;
  width:15em;
  padding:2em;
  -webkit-box-shadow: 10px 10px 15px rgba(50,50,50,1);
  -webkit-transform:rotate(-8deg);
}
ul li:nth-child(2n) a{
  font-family: 'Permanent Marker', cursive;
  text-decoration:none;
  color:#000;
  background:#ffa;
  display:block;
  height:15em;
  width:15em;
  padding:2em;
  -webkit-box-shadow: 10px 10px 15px rgba(50,50,50,1);
  -webkit-transform:rotate(-3deg);
}
ul li:nth-child(3n) a{
  font-family: 'Permanent Marker', cursive;
  text-decoration:none;
  color:#000;
  background:#aaf;
  display:block;
  height:15em;
  width:15em;
  padding:2em;
  -webkit-box-shadow: 10px 10px 15px rgba(50,50,50,1);
  -webkit-transform:rotate(12deg);
}
ul li:nth-child(4n) a{
  font-family: 'Permanent Marker', cursive;
  text-decoration:none;
  color:#000;
  background:#fff;
  display:block;
  height:15em;
  width:15em;
  padding:2em;
  -webkit-box-shadow: 10px 10px 15px rgba(50,50,50,1);
  -webkit-transform:rotate(-11deg);
}
ul li:nth-child(5n) a{
  font-family: 'Permanent Marker', cursive;
  text-decoration:none;
  color:#000;
  background:#faa;
  display:block;
  height:15em;
  width:15em;
  padding:2em;
  -webkit-box-shadow: 10px 10px 15px rgba(50,50,50,1);
  -webkit-transform:rotate(7deg);
}
ul li{
  margin:0em;
  float:left;
}*/
.box {
  font-family: Poiret One;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    border: 2px solid black;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}