---
description: "Classes taken at Harvard College"
keywords: "coursework, classes, harvard, james curtin, james, curtin"
title: "Coursework"
subtitle: "Harvard College"
last_modified_at: 2018-03-18 20:18
---
{% include header.html %}
            <script src="../includes/js/coursework_loader.js"></script>
            <div class=" layout-full" id="content-container">
                <div class="content" id="full-width">
                    <div class="custom-page-content">
                        <div class="section-full-width section-light" id="lightstyleone" style="background-color:#f7f7f7;">
                            <div class="section-boxed" style="color:#777777;">
                                <h4 class="sub-title" style="color:#252525;">Coursework</h4>
                                <h2 class="section-title" style="color:#252525;">What I've Taken</h2>
                                <div id="courseContainer"></div>
                            </div>
                        </div>
                    </div>
                </div><!-- end main content holder (#content/#full-width) -->
                <div class="clear"></div>
            </div><!-- end #content-container -->
{% include footer.html %}
