---
redirect_from: "/coursework.html"
description: "Classes taken at Harvard College"
keywords: "coursework, classes, harvard, james curtin, james, curtin"
title: "Coursework"
subtitle: "Harvard College"
---
{% include header.html %}
            <script type="text/javascript">
                if (screen.width <= 800) {
                    window.location = "m.coursework.html";
                }
            </script>
            <div class=" layout-full" id="content-container">
                <div class="content" id="full-width">
                    <div class="custom-page-content">
                        <div class="section-full-width section-light" id="lightstyleone" style="background-color:#f7f7f7;">
                            <div class="section-boxed" style="color:#777777;">
                                <h4 class="sub-title" style="color:#252525;">Coursework</h4>
                                <h2 class="section-title" style="color:#252525;">What I've Taken</h2>
                                <div style="width: 90%; padding: 0 0 0 0 0;" class="aligncenter">
                                    <div style="width: 50%; padding: 0 0 100px 0; float: left;">
                                        <p><em>Fall 2012</em><br>
                                        Spanish C <strong>Intermediate Spanish</strong><br>
                                        Government 20 <strong>Foundations of Comparative
                                        Politics</strong><br>
                                        Classical Studies 160 <strong>The Birth of Modern
                                        Europe</strong><br>
                                        Freshman Seminar 36x <strong>Money Matters</strong></p>

                                        <p><em>Spring 2013</em><br>
                                        Spanish 30 <strong>Advanced Spanish Language</strong><br>
                                        Science of Living Systems 17 <strong>The Human
                                        Organism</strong><br>
                                        Government 10 <strong>Foundations of Political
                                        Theory</strong><br>
                                        Expository Writing 20.020 <strong>Expository
                                        Writing</strong></p>

                                        <p><em>Fall 2013</em><br>
                                        Government 1510 <strong>American Constitutional
                                        Law</strong><br>
                                        US and the World 36 <strong>Innovation and
                                        Entrepreneurship</strong><br>
                                        Government 1540 <strong>The American
                                        Presidency</strong><br>
                                        Government 50 <strong>Political Science Research
                                        Methods</strong></p>
                                        
                                        <p><em>Spring 2014</em><br>
                                        Music 2 <strong>Foundations of Tonal Music</strong><br>
                                        Government 94sz <strong>Rights in Conflict</strong><br>
                                        Government 97 <strong>Government</strong> <strong>Sophomore
                                        Tutorial</strong><br>
                                        Culture and Belief 51 <strong>Making the Middle
                                        Ages</strong></p>
                                    </div>

                                    <div style="width: 50%; padding: 0 0 100px 0; float: right;">
                                        <p><em>Fall 2014</em><br>
                                        API 105A (Kennedy School) <strong>Markets &#038; Market
                                        Failures with Cases</strong><br>
                                        Government 94qa <strong>Community in America</strong><br>
                                        Music 153 <strong>Jazz Harmony</strong> (<a href=
                                        "https://www.scribd.com/doc/250345247/Jazz-Harmony-Midterm-Two-to-Tango" target="_blank">Composition</a> and <a href=
                                        "https://www.youtube.com/watch?v=VAw3d4zLA9s" target="_blank">Recording</a>)<br>
                                        Comp Sci 50 <strong><a href="https://cs50.harvard.edu" target="_blank">Intro to Computer Science</a></strong>
                                        (<a href=
                                        "https://github.com/jamescurtin/CS50-Final-Project" target="_blank">Final Project</a>)</p>

                                        <p><em>Spring 2015</em><br>
                                        Comp Sci 179 <strong><a href="http://www.cs179.org" target="_blank">Design of Usable Interactive
                                        Systems</a></strong> (<a href="https://github.com/jamescurtin/cs179_finalproject" target="_blank">Final Project</a>)<br>
                                        Government 1790 <strong>American Foreign
                                        Policy</strong><br>
                                        History 1935 <strong>Byzantine Imperialism</strong><br>
                                        Science of the Physical Universe 30 <strong>Life as a
                                            Planetary Phenomenon</strong></p>
                                        
                                        <p><em>Fall 2015</em><br>
                                        Comp Sci 109 <strong><a href="http://cs109.org" target="_blank">Data Science</a></strong> (<a href="https://github.com/jamescurtin/cs109_fp" target="_blank">Final Project</a>)<br>
                                        Government 1010 <strong>Survey Research Methods</strong><br>
                                        Government 94LG <strong>Legalism</strong><br>
                                        Culture and Belief 30 <strong>A History of Photography</strong><br>
                                        Government 92R <strong>Faculty Research Assistant</strong>
                                        <p><em>Spring 2016</em><br>
                                        Comp Sci 171 <strong><a href="http://www.cs171.org/" target="_blank">Vizualization</a></strong>(<a href="http://www.jamescurtin.com/cs171-election-project/site/index.html" target="_blank">Final Project</a>)<br>
                                        Government 1011 <strong>Survey Research Practicum</strong><br>
                                        Government 1360 <strong>American Public Opinion</strong> (<a href="https://www.youtube.com/watch?v=1s15PGrkOSg" target="_blank">TED Talk</a>)
                                        
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- end main content holder (#content/#full-width) -->
                <div class="clear"></div>
            </div><!-- end #content-container -->
{% include footer.html %}