---
description: "James Curtin calendar"
title: "Calendar"
subtitle: "James W. Curtin"
sitemap: false
---
{% include header.html %}
      <div id="content-container" class=" layout-full">
        <div id="full-width" class="content">
          <div class="custom-page-content">
            <iframe src="https://www.google.com/calendar/embed?title=James%20Curtin&#39;s%20Calendar&amp;showNav=0&amp;showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;mode=WEEK&amp;height=1200&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=jameswcurtin%40gmail.com&amp;color=%2329527A&amp;ctz=America%2FNew_York" style=" border-width:0 " width="100%" height="1150" frameborder="0" scrolling="no"></iframe>
          </div>
        </div> <!-- end main content holder (#content/#full-width) -->
        <div class="clear"></div>
      </div> <!-- end #content-container -->
{% include footer.html %}