<div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_69.jpg" data-rel="lightbox[1]" title=" Harvard Stadium; Fall 2014" ><img src="/includes/img/photos/photo_69.jpg" alt="Angela Fan
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Angela Fan</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_103.jpg" data-rel="lightbox[1]" title=" Radcliffe Quadrangle; Spring 2016" ><img src="/includes/img/photos/photo_103.jpg" alt="Quad Formal
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Quad Formal</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_5.jpg" data-rel="lightbox[1]" title=" Sanders Theater; Spring 2016" ><img src="/includes/img/photos/photo_5.jpg" alt="Harvard-Radcliffe Collegium Musicum Spring Concert
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Harvard-Radcliffe Collegium Musicum Spring Concert</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_21.jpg" data-rel="lightbox[1]" title=" Pforzheimer House; Spring 2015" ><img src="/includes/img/photos/photo_21.jpg" alt="Jason Ahn, Pforzheimer House Senior Dinner
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Jason Ahn, Pforzheimer House Senior Dinner</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_30.jpg" data-rel="lightbox[1]" title=" Boston, MA; Summer 2015" ><img src="/includes/img/photos/photo_30.jpg" alt="Boston Pops 4th of July
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Boston Pops 4th of July</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_145.jpg" data-rel="lightbox[1]" title=" House of Blues, Boston, MA; Winter 2016" ><img src="/includes/img/photos/photo_145.jpg" alt="Quad Formal
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Quad Formal</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_87.jpg" data-rel="lightbox[1]" title=" Cambridge, MA; Fall 2015" ><img src="/includes/img/photos/photo_87.jpg" alt="CS50 Freshman Advising Fair
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            CS50 Freshman Advising Fair</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_40.jpg" data-rel="lightbox[1]" title=" Salem, MA; Summer 2015" ><img src="/includes/img/photos/photo_40.jpg" alt="Baby Shower Guests
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Baby Shower Guests</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_41.jpg" data-rel="lightbox[1]" title=" Salem, MA; Summer 2015" ><img src="/includes/img/photos/photo_41.jpg" alt="Baby Shower Guests
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Baby Shower Guests</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_58.jpg" data-rel="lightbox[1]" title=" Pforzheimer House; Winter 2014" ><img src="/includes/img/photos/photo_58.jpg" alt="Quad Ice Bar
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Quad Ice Bar</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_59.jpg" data-rel="lightbox[1]" title=" Radcliffe Quadrangle; Spring 2015" ><img src="/includes/img/photos/photo_59.jpg" alt="Quad Formal Band
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Quad Formal Band</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_60.jpg" data-rel="lightbox[1]" title=" Radcliffe Quadrangle; Spring 2015" ><img src="/includes/img/photos/photo_60.jpg" alt="Quad Formal Guests
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Quad Formal Guests</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_61.jpg" data-rel="lightbox[1]" title=" Radcliffe Quadrangle; Spring 2015" ><img src="/includes/img/photos/photo_61.jpg" alt="Quad Formal Guests
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Quad Formal Guests</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_62.jpg" data-rel="lightbox[1]" title=" Radcliffe Quadrangle; Spring 2015" ><img src="/includes/img/photos/photo_62.jpg" alt="Playing Card Headband
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            </span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_64.jpg" data-rel="lightbox[1]" title=" " ><img src="/includes/img/photos/photo_64.jpg" alt="
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            </span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_68.jpg" data-rel="lightbox[1]" title=" Harvard Stadium; Fall 2014" ><img src="/includes/img/photos/photo_68.jpg" alt="The Game
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            The Game</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_79.jpg" data-rel="lightbox[1]" title=" Cambridge, MA; Spring 2014" ><img src="/includes/img/photos/photo_79.jpg" alt="Drew Faust, President of Harvard University
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Benediction; Drew Faust, President of Harvard University</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_88.jpg" data-rel="lightbox[1]" title=" Cambridge, MA; Fall 2015" ><img src="/includes/img/photos/photo_88.jpg" alt="CS50 Freshman Advising Fair
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            CS50 Freshman Advising Fair</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_89.jpg" data-rel="lightbox[1]" title=" Cambridge, MA; Fall 2015" ><img src="/includes/img/photos/photo_89.jpg" alt="CS50 Quiz 0 Grading
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            CS50 Quiz 0 Grading</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_116.jpg" data-rel="lightbox[1]" title=" St. Pauls, Cambridge, MA; Spring 2014" ><img src="/includes/img/photos/photo_116.jpg" alt="St. Paul's Choir School
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            St. Paul's Choir School</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_92.jpg" data-rel="lightbox[1]" title=" Cambridge, MA; Fall 2015" ><img src="/includes/img/photos/photo_92.jpg" alt="CS50 Fair
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            CS50 Fair</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_93.jpg" data-rel="lightbox[1]" title=" Cambridge, MA; Spring 2015" ><img src="/includes/img/photos/photo_93.jpg" alt="CS50 Music Video
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            CS50 Music Video</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_95.jpg" data-rel="lightbox[1]" title=" Sanders Theater, Cambridge, MA; Spring 2015" ><img src="/includes/img/photos/photo_95.jpg" alt="Harvard Thinks Big
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Harvard Thinks Big</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_99.jpg" data-rel="lightbox[1]" title=" Sanders Theater, Cambridge, MA; Spring 2016" ><img src="/includes/img/photos/photo_99.jpg" alt="Harvard Collegum Musicum
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Harvard Collegum Musicum</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_100.jpg" data-rel="lightbox[1]" title=" Radcliffe Quadrangle; Spring 2016" ><img src="/includes/img/photos/photo_100.jpg" alt="Quad Formal
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Quad Formal</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_101.jpg" data-rel="lightbox[1]" title=" Radcliffe Quadrangle; Spring 2016" ><img src="/includes/img/photos/photo_101.jpg" alt="Quad Formal
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Quad Formal</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_104.jpg" data-rel="lightbox[1]" title=" Radcliffe Quadrangle; Spring 2016" ><img src="/includes/img/photos/photo_104.jpg" alt="Quad Formal
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Quad Formal</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_105.jpg" data-rel="lightbox[1]" title=" Radcliffe Quadrangle; Spring 2016" ><img src="/includes/img/photos/photo_105.jpg" alt="Quad Formal
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Quad Formal</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_110.jpg" data-rel="lightbox[1]" title=" Cambridge, MA; Fall 2014" ><img src="/includes/img/photos/photo_110.jpg" alt="Birthday Party Guests
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Birthday Party Guests</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_115.jpg" data-rel="lightbox[1]" title=" Cambridge, MA; Spring 2015" ><img src="/includes/img/photos/photo_115.jpg" alt="Pforzheimer House Glassblowing Workshop
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Pforzheimer House Glassblowing Workshop</span></div></a></div>