			</div>
			<footer id="footer" class="center">
				<div class="scroll-to-top">
					<span></span>
				</div>
				<div class="footer-bottom">
					<div class="section-boxed">
						<span class="copyrights">&copy; Copyright James W. Curtin, Jr. {{ site.time | date: "%Y" }}</span>
						<div class="footer-nav">
							<div class="menu-story-footer-menu-container">
								<ul id="menu-story-footer-menu" class="menu">
									<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/">Home</a></li>
									<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/about/">About</a></li>
									<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/resume/">Resume</a></li>
									<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/portfolio/">Portfolio</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</footer> <!-- end #footer-->
		</div> <!-- end #main-container -->
		<!-- FOOTER ENDS -->
	<script type='text/javascript' src='/includes/js/jquery/jquery-3.3.1.min.js'></script>
    <script type='text/javascript' src='/includes/js/jquery/jquery-migrate-3.0.1.min.js'></script>
	<script type='text/javascript' src='/includes/js/underscore.min.js'></script>
	<script type='text/javascript' src='/includes/js/main.min.js'></script>
	<script type="text/javascript" src="/includes/js/nivo-slider.js"></script>
	<noscript id="deferred-styles">
		<link href="/includes/img/favicon.ico" rel="icon">
	    <link href="/includes/css/font-awesome.css" rel="stylesheet" />
	    <link rel='stylesheet' id='font-0-css'  href='https://fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C400italic%2C700&#038;ver=4.1.5' type='text/css' media='all' />
	    <link rel='stylesheet' id='font-1-css'  href='https://fonts.googleapis.com/css?family=Montserrat%3A400%2C700&#038;ver=4.1.5' type='text/css' media='all' />
	    <link rel='stylesheet' id='font-2-css'  href='https://fonts.googleapis.com/css?family=Abril+Fatface&#038;ver=4.1.5' type='text/css' media='all' />
	    <link rel='stylesheet' id='font-3-css'  href='https://fonts.googleapis.com/css?family=Lato%3A100%2C300&#038;ver=4.1.5' type='text/css' media='all' />
	    <link rel='stylesheet' id='font-4-css'  href='https://fonts.googleapis.com/css?family=Oswald&#038;ver=4.1.5' type='text/css' media='all' />
	    <link rel='stylesheet' id='font-5-css'  href='https://fonts.googleapis.com/css?family=Old+Standard+TT%3A400%2C700&#038;ver=4.1.5' type='text/css' media='all' />
    </noscript>
    <script>
      var loadDeferredStyles = function() {
        var addStylesNode = document.getElementById("deferred-styles");
        var replacement = document.createElement("div");
        replacement.innerHTML = addStylesNode.textContent;
        document.body.appendChild(replacement)
        addStylesNode.parentElement.removeChild(addStylesNode);
      };
      var raf = requestAnimationFrame || mozRequestAnimationFrame ||
          webkitRequestAnimationFrame || msRequestAnimationFrame;
      if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
      else window.addEventListener('load', loadDeferredStyles);
    </script>
	{% if page.customjs %}
	<script type="text/javascript" src="/includes/js/{{ page.customjs }}"></script>
	{% endif %}
	<script type="text/javascript">
		var SITE = SITE || {};
		SITE.lightboxOptions = {"theme":"pp_default","animation_speed":"normal","overlay_gallery":false,"allow_resize":true};
		SITE.disableRightClick=false;
		SITE.stickyHeader=true;
		jQuery(document).ready(function($){SITE.init.initSite();
			SITE.init.nivoSlider($("#nivo-slider"), {"interval":3000,"speed":300,"autoplay":true,"pauseOnHover":true,"buttons":true,"arrows":true});
		});
	</script>
</body>
</html>
