<div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_6.jpg" data-rel="lightbox[1]" title=" Pforzheimer House; Spring 2016" ><img src="/includes/img/photos/photo_6.jpg" alt="Pforzheimer Polar Bears
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Pforzheimer Polar Bears</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_7.jpg" data-rel="lightbox[1]" title=" Harvard Yard; March 2016" ><img src="/includes/img/photos/photo_7.jpg" alt="Polar Bear John Harvard, Housing Day
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Polar Bear John Harvard, Housing Day</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_8.jpg" data-rel="lightbox[1]" title=" Harvard Yard; March 2016" ><img src="/includes/img/photos/photo_8.jpg" alt="Harvard Housing Day Celebrations
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Harvard Housing Day Celebrations</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_9.jpg" data-rel="lightbox[1]" title=" Radcliffe Quadrangle; Winter 2015" ><img src="/includes/img/photos/photo_9.jpg" alt="Pforzheimer House, Radcliffe Quadrangle
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Pforzheimer House, Radcliffe Quadrangle</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_111.jpg" data-rel="lightbox[1]" title=" Harvard Yard, Cambridge, MA; Fall 2013" ><img src="/includes/img/photos/photo_111.jpg" alt="Harvard in Fall
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Harvard in Fall</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_121.jpg" data-rel="lightbox[1]" title=" Widener Library; Spring 2016" ><img src="/includes/img/photos/photo_121.jpg" alt="Veritas
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Veritas</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_11.jpg" data-rel="lightbox[1]" title=" Radcliffe Quadrangle; Winter 2015" ><img src="/includes/img/photos/photo_11.jpg" alt="Pforzheimer House, Radcliffe Quadrangle
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Pforzheimer House, Radcliffe Quadrangle</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_58.jpg" data-rel="lightbox[1]" title=" Pforzheimer House; Winter 2014" ><img src="/includes/img/photos/photo_58.jpg" alt="Quad Ice Bar
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Quad Ice Bar</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_68.jpg" data-rel="lightbox[1]" title=" Harvard Stadium; Fall 2014" ><img src="/includes/img/photos/photo_68.jpg" alt="The Game
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            The Game</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_79.jpg" data-rel="lightbox[1]" title=" Cambridge, MA; Spring 2014" ><img src="/includes/img/photos/photo_79.jpg" alt="Drew Faust, President of Harvard University
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Benediction; Drew Faust, President of Harvard University</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_90.jpg" data-rel="lightbox[1]" title=" Widener Library, Cambridge, MA; Fall 2015" ><img src="/includes/img/photos/photo_90.jpg" alt="Loker Reading Room
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Loker Reading Room</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_27.jpg" data-rel="lightbox[1]" title=" Widener Library; Spring 2015" ><img src="/includes/img/photos/photo_27.jpg" alt="Veritas
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Veritas</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_91.jpg" data-rel="lightbox[1]" title=" Widener Library, Cambridge, MA; Fall 2015" ><img src="/includes/img/photos/photo_91.jpg" alt="Widener Library
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Widener Library</span></div></a></div>
