<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="James Curtin">
    <meta name="description" content="{{ page.description }}">
    <meta name="keywords" content="{{ page.keywords }}">
    <title>{{ page.title }}</title>

    <!-- Mobile Devices Viewport Resset-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- <meta name="viewport" content="initial-scale=1.0, user-scalable=1" /> -->
    <link href="/includes/img/favicon.ico" rel="icon">
    <link rel='stylesheet' id='style-switcher-css-css'  href='/includes/css/style-switcher.css' type='text/css' media='all' />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel=
    "stylesheet" />
    <link rel='stylesheet' id='font-0-css'  href='https://fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C400italic%2C700&#038;ver=4.1.5' type='text/css' media='all' />
    <link rel='stylesheet' id='font-1-css'  href='https://fonts.googleapis.com/css?family=Montserrat%3A400%2C700&#038;ver=4.1.5' type='text/css' media='all' />
    <link rel='stylesheet' id='font-2-css'  href='https://fonts.googleapis.com/css?family=Abril+Fatface&#038;ver=4.1.5' type='text/css' media='all' />
    <link rel='stylesheet' id='font-3-css'  href='https://fonts.googleapis.com/css?family=Lato%3A100%2C300&#038;ver=4.1.5' type='text/css' media='all' />
    <link rel='stylesheet' id='font-4-css'  href='http://fonts.googleapis.com/css?family=Oswald&#038;ver=4.1.5' type='text/css' media='all' />
    <link rel='stylesheet' id='font-5-css'  href='https://fonts.googleapis.com/css?family=Old+Standard+TT%3A400%2C700&#038;ver=4.1.5' type='text/css' media='all' />
    <link rel='stylesheet' id='fullpage-css-css'  href='/includes/css/fullpage.css' type='text/css' media='all' />
    <link rel='stylesheet' id='pretty-photo-css'  href='/includes/css/prettyPhoto.css' type='text/css' media='all' />
    <link rel='stylesheet' id='stylesheet-css'  href='/includes/css/style.css' type='text/css' media='all' />
    <style id='stylesheet-inline-css' type='text/css'>
        .large-header .page-title-wrapper{min-height:450px; height:450px;}.index #header, .index #footer {
            display: none;
        }
        .index .page-subtitle{
            margin-bottom: 55px;
        }
        body>iframe {
            height: 0;
        }
    </style>
    <script type='text/javascript' src='https://code.jquery.com/jquery-1.11.1.js'></script>
    <script type='text/javascript' src='/includes/js/jquery/jquery-migrate-1.2.1.min.js'></script>
    <script type='text/javascript' src='/includes/js/style-switcher.js'></script>
</head>

<body class="page page-template page-template-template-full-custom page-template-template-full-custom-php fixed-header no-slider icons-style-light parallax-header">
    <div id="main-container" >
    	<div class="page-wrapper" >
    		<!--HEADER -->
    		<div class="header-wrapper" >
    			{% include menubar.html %}
                <div class="page-title-wrapper">
                    <div class="page-title">
                        <div class="content-boxed">
                            <h1>{{ page.title }}</h1>
                            <span class="page-subtitle">{{ page.subtitle }}</span>
                        </div>
                    </div>
                </div>
            </div>