<!DOCTYPE html>
<html lang="en-US">
<head>
    <!-- <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> -->
    <meta charset="UTF-8">
    <meta name="author" content="James Curtin">
    <meta name="description" content="{{ page.description }}">
    <meta name="keywords" content="{{ page.keywords }}">
    <title>{{ page.title }}</title>

    <!-- Mobile Devices Viewport Resset-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- <meta name="viewport" content="initial-scale=1.0, user-scalable=1" /> -->
    <link rel='stylesheet' id='stylesheet-css'  href='/includes/css/style.min.css' type='text/css' media='all' />
    <style id='stylesheet-inline-css' type='text/css'>
        .large-header .page-title-wrapper{min-height:450px; height:450px;}.index #header, .index #footer {
            display: none;
        }
        .index .page-subtitle{
            margin-bottom: 55px;
        }
        body>iframe {
            height: 0;
        }
    </style>
</head>

<body class="page page-template page-template-template-full-custom page-template-template-full-custom-php fixed-header no-slider icons-style-light parallax-header">
    <div id="main-container" >
    	<div class="page-wrapper" >
    		<!--HEADER -->
    		<div class="header-wrapper" >
    			{% include menubar.html %}
                <div class="page-title-wrapper">
                    <div class="page-title">
                        <div class="content-boxed">
                            <h1>{{ page.title }}</h1>
                            <span class="page-subtitle">{{ page.subtitle }}</span>
                        </div>
                    </div>
                </div>
            </div>