                <header id="header">
                    <div class="section-boxed section-header">
                        <div id="logo-container">
                            <a href="/"><img src="/includes/img/logo.png" alt="Website Logo" /></a>
                        </div>
                        <div class="mobile-nav">
    				        <span class="mob-nav-btn">Menu</span>
                        </div>
    	 			 	<nav class="navigation-container">
                            <div id="menu" class="nav-menu">
                                <ul id="menu-story-main-menu" class="menu-ul">
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom mega-menu-item"><a href="/">Home</a></li>
                                    <li id="menu-item-12" class="menu-item menu-item-type-custom menu-item-object-custom mega-menu-item"><a href="/about/">About</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a href="/resume/">Experience</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/resume/">Resume/CV</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/coursework/">Coursework</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a href="/portfolio/">Portfolio</a>
                                        <ul class="sub-menu">
                                        	<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/portraits/">Portraits</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/events/">Event Photography</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/harvard/">Harvard</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/nature/">Nature/Outdoors</a></li>
                                            <!-- <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/assorted/">Assorted</a></li> -->
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="header-buttons">
                                <div class="soc-prof">
                                    <ul class="soc-ic">
                                        <li>
                                            <a href="https://www.linkedin.com/in/jameswcurtin" target="_blank" title="Linkedin"><div class="fa fa-lnkd fa-lg fa-inverse"></div></a>
                                        </li>
                                        <li>
                                            <a href="https://flickr.com/jameswcurtin" target="_blank" title="Flickr"><div class="fa fa-flic fa-lg fa-inverse"></div></a>
                                        </li>
                                        <li>
                                            <a href="https://github.com/jamescurtin" target="_blank" title="GitHub"><div class="fa fa-gh fa-lg fa-inverse"></div></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                        <div class="clear"></div>
                        <div id="navigation-line"></div>
                    </div>
                </header><!-- end #header -->