<div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_152.jpg" data-rel="lightbox[1]" title=" Látrabjarg; Summer 2017" ><img src="/includes/img/photos/photo_152.jpg" alt="Puffin
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Puffin</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_12.jpg" data-rel="lightbox[1]" title=" Lake Umbagog; Winter 2015" ><img src="/includes/img/photos/photo_12.jpg" alt="Sled Dog
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Sled Dog</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_142.jpg" data-rel="lightbox[1]" title=" Yosemite National Park, CA; Fall 2016" ><img src="/includes/img/photos/photo_142.jpg" alt="El Capitan
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            El Capitan</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_129.jpg" data-rel="lightbox[1]" title=" Vista Point, Sausalito, CA; Fall 2016" ><img src="/includes/img/photos/photo_129.jpg" alt="Golden Gate Bridge
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Golden Gate Bridge</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_139.jpg" data-rel="lightbox[1]" title=" Yosemite National Park, CA; Fall 2016" ><img src="/includes/img/photos/photo_139.jpg" alt="Lower Yosemite Falls
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Lower Yosemite Falls</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_15.jpg" data-rel="lightbox[1]" title=" Leverett House; Summer 2015" ><img src="/includes/img/photos/photo_15.jpg" alt="Orchids
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Orchids</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_130.jpg" data-rel="lightbox[1]" title=" Muir Woods National Monument, CA; Fall 2016" ><img src="/includes/img/photos/photo_130.jpg" alt="Spider Web
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Spider Web</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_16.jpg" data-rel="lightbox[1]" title=" Salem, MA; Summer 2015" ><img src="/includes/img/photos/photo_16.jpg" alt="Sidewalk Garden
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Sidewalk Garden</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_132.jpg" data-rel="lightbox[1]" title=" Muir Woods National Monument, CA; Fall 2016" ><img src="/includes/img/photos/photo_132.jpg" alt="Coast Redwoods
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Coast Redwoods</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_18.jpg" data-rel="lightbox[1]" title=" Easton, MA; Winter 2015" ><img src="/includes/img/photos/photo_18.jpg" alt="Flower, B&W
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Flower, B&W</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_19.jpg" data-rel="lightbox[1]" title=" Charles River; January 2016" ><img src="/includes/img/photos/photo_19.jpg" alt="Swan on the Charles
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Swan on the Charles</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_134.jpg" data-rel="lightbox[1]" title=" Yosemite National Park, CA; Fall 2016" ><img src="/includes/img/photos/photo_134.jpg" alt="Yosemite Tunnel View
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Yosemite Tunnel View</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_136.jpg" data-rel="lightbox[1]" title=" Yosemite National Park, CA; Fall 2016" ><img src="/includes/img/photos/photo_136.jpg" alt="Lower Yosemite Falls
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Lower Yosemite Falls</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_25.jpg" data-rel="lightbox[1]" title=" World's End; Summer 2015" ><img src="/includes/img/photos/photo_25.jpg" alt="Snail on Snail
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Snail on Snail</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_28.jpg" data-rel="lightbox[1]" title=" Cambridge, MA; Summer 2015" ><img src="/includes/img/photos/photo_28.jpg" alt="Memorial Drive on a Sunday
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Memorial Drive on a Sunday</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_144.jpg" data-rel="lightbox[1]" title=" Telegraph Hill, San Fransisco, CA; Fall 2016" ><img src="/includes/img/photos/photo_144.jpg" alt="Golden Gate Bridge
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Golden Gate Bridge</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_108.jpg" data-rel="lightbox[1]" title=" Jökulsárlón, Iceland; Summer 2015" ><img src="/includes/img/photos/photo_108.jpg" alt="Glacial Melt
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Glacial Melt</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_29.jpg" data-rel="lightbox[1]" title=" Cambridge, MA; Summer 2015" ><img src="/includes/img/photos/photo_29.jpg" alt="Summer Storm Clouds
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Summer Storm Clouds</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_33.jpg" data-rel="lightbox[1]" title=" Spectacle Island; Summer 2015" ><img src="/includes/img/photos/photo_33.jpg" alt="Fir Tree
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Fir Tree</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_34.jpg" data-rel="lightbox[1]" title=" Spectacle Island; Summer 2015" ><img src="/includes/img/photos/photo_34.jpg" alt="Beach Flowers
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Beach Flowers</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_35.jpg" data-rel="lightbox[1]" title=" George's Island; Summer 2015" ><img src="/includes/img/photos/photo_35.jpg" alt="Canadian Geese
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Canadian Geese</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_36.jpg" data-rel="lightbox[1]" title=" George's Island; Summer 2015" ><img src="/includes/img/photos/photo_36.jpg" alt="Barnacles
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Barnacles</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_37.jpg" data-rel="lightbox[1]" title=" George's Island; Summer 2015" ><img src="/includes/img/photos/photo_37.jpg" alt="Old Dock
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Old Dock</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_38.jpg" data-rel="lightbox[1]" title=" Christopher Columbus Park, Boston, MA; Summer 2015" ><img src="/includes/img/photos/photo_38.jpg" alt="Green Trellis
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Green Trellis</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_43.jpg" data-rel="lightbox[1]" title=" Reykjavik, Iceland; Summer 2015" ><img src="/includes/img/photos/photo_43.jpg" alt="Seagull Landing
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Seagull Landing</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_44.jpg" data-rel="lightbox[1]" title=" Reykjavik, Iceland; Summer 2015" ><img src="/includes/img/photos/photo_44.jpg" alt="Holavallagardur Cemetary
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Holavallagardur Cemetary</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_109.jpg" data-rel="lightbox[1]" title=" Gullfoss, Gullfossi, Iceland; Summer 2015" ><img src="/includes/img/photos/photo_109.jpg" alt="Gullfoss
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Gullfoss</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_45.jpg" data-rel="lightbox[1]" title=" Þórsmerkurvegur, Iceland; Summer, 2015" ><img src="/includes/img/photos/photo_45.jpg" alt="Seljalandsfoss
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Seljalandsfoss</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_46.jpg" data-rel="lightbox[1]" title=" Þórsmerkurvegur, Iceland; Summer, 2015" ><img src="/includes/img/photos/photo_46.jpg" alt="Seljalandsfoss
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Seljalandsfoss</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_47.jpg" data-rel="lightbox[1]" title=" Iceland; Summer 2015" ><img src="/includes/img/photos/photo_47.jpg" alt="Driving Through Iceland
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Driving Through Iceland</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_48.jpg" data-rel="lightbox[1]" title=" Skogar, Iceland; Summer 2015" ><img src="/includes/img/photos/photo_48.jpg" alt="Skógafoss
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Skógafoss</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_49.jpg" data-rel="lightbox[1]" title=" Skogar, Iceland; Summer 2015" ><img src="/includes/img/photos/photo_49.jpg" alt="Skógafoss
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Skógafoss</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_50.jpg" data-rel="lightbox[1]" title=" Heiðmörk, Iceland; Summer 2015" ><img src="/includes/img/photos/photo_50.jpg" alt="Rauðhólar
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Rauðhólar</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_51.jpg" data-rel="lightbox[1]" title=" Heiðmörk, Iceland; Summer 2015" ><img src="/includes/img/photos/photo_51.jpg" alt="Rauðhólar
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Rauðhólar</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_52.jpg" data-rel="lightbox[1]" title=" Grundarfjörður, Iceland; Summer 2015" ><img src="/includes/img/photos/photo_52.jpg" alt="Mt. Kirkjufell
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Mt. Kirkjufell</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_53.jpg" data-rel="lightbox[1]" title=" Grindavík, Iceland; Summer 2015" ><img src="/includes/img/photos/photo_53.jpg" alt="The Blue Lagoon
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            The Blue Lagoon</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_54.jpg" data-rel="lightbox[1]" title=" Grindavík, Iceland; Summer 2015" ><img src="/includes/img/photos/photo_54.jpg" alt="The Blue Lagoon
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            The Blue Lagoon</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_55.jpg" data-rel="lightbox[1]" title=" Mt. Auburn Cemetary, Cambridge; Fall 2015" ><img src="/includes/img/photos/photo_55.jpg" alt="Mt. Auburn Cemetary Tower
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Mt. Auburn Cemetary Tower</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_56.jpg" data-rel="lightbox[1]" title=" Mt. Auburn Cemetary, Cambridge; Fall 2015" ><img src="/includes/img/photos/photo_56.jpg" alt="Holly
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Holly</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_65.jpg" data-rel="lightbox[1]" title=" Bridgewater, MA; Winter 2013" ><img src="/includes/img/photos/photo_65.jpg" alt="Starry Sky
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Starry Sky</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_112.jpg" data-rel="lightbox[1]" title=" Charles River, Cambridge, MA; Fall 2013" ><img src="/includes/img/photos/photo_112.jpg" alt="Head of the Charles
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Head of the Charles</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_70.jpg" data-rel="lightbox[1]" title=" Middleboro, MA; Fall 2014" ><img src="/includes/img/photos/photo_70.jpg" alt="Found in the Woods
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Found in the Woods</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_71.jpg" data-rel="lightbox[1]" title=" Middleboro, MA; Fall 2014" ><img src="/includes/img/photos/photo_71.jpg" alt="Pointing Pheasant
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Pointing Pheasant</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_72.jpg" data-rel="lightbox[1]" title=" Middleboro, MA; Fall 2014" ><img src="/includes/img/photos/photo_72.jpg" alt="Chicken Coop
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Chicken Coop</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_73.jpg" data-rel="lightbox[1]" title=" Bridgewater, MA; Winter 2013" ><img src="/includes/img/photos/photo_73.jpg" alt="Frosty Window
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Frosty Window</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_75.jpg" data-rel="lightbox[1]" title=" Bridgewater, MA; Winter 2013" ><img src="/includes/img/photos/photo_75.jpg" alt="Out Hawking
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Out Hawking</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_77.jpg" data-rel="lightbox[1]" title=" Bridgewater, MA; Spring 2014" ><img src="/includes/img/photos/photo_77.jpg" alt="18th Century Gravestone
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            18th Century Gravestone</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_80.jpg" data-rel="lightbox[1]" title=" Virginia; Summer 2014" ><img src="/includes/img/photos/photo_80.jpg" alt="Skyline Drive
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Skyline Drive</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_13.jpg" data-rel="lightbox[1]" title=" Lake Umbagog; Winter 2015" ><img src="/includes/img/photos/photo_13.jpg" alt="Photographing the Sunset
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Photographing the Sunset</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_14.jpg" data-rel="lightbox[1]" title=" Lake Umbagog; Winter 2015" ><img src="/includes/img/photos/photo_14.jpg" alt="Dogsledding Team
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Dogsledding Team</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_17.jpg" data-rel="lightbox[1]" title=" Easton, MA; Winter 2015" ><img src="/includes/img/photos/photo_17.jpg" alt="The Ames Mansion
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            The Ames Mansion</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_81.jpg" data-rel="lightbox[1]" title=" Dumbarton Oaks, Washington, DC; Summer 2012" ><img src="/includes/img/photos/photo_81.jpg" alt="Summer Flowers
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Summer Flowers</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_82.jpg" data-rel="lightbox[1]" title=" Dumbarton Oaks, Washington, DC; Summer 2012" ><img src="/includes/img/photos/photo_82.jpg" alt="Summer Flowers
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Summer Flowers</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_117.jpg" data-rel="lightbox[1]" title=" Bridgewater, MA; Spring 2014" ><img src="/includes/img/photos/photo_117.jpg" alt="Bleeding Hearts
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Bleeding Hearts</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_83.jpg" data-rel="lightbox[1]" title=" Dumbarton Oaks, Washington, DC; Summer 2012" ><img src="/includes/img/photos/photo_83.jpg" alt="Summer Flowers
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Summer Flowers</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_42.jpg" data-rel="lightbox[1]" title=" Reykjavik, Iceland; Summer 2015" ><img src="/includes/img/photos/photo_42.jpg" alt="Laugavegur Street
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Laugavegur Street</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_57.jpg" data-rel="lightbox[1]" title=" Pforzheimer House; Spring 2016" ><img src="/includes/img/photos/photo_57.jpg" alt="Cat in Black & White
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Cat in Black & White</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_150.jpg" data-rel="lightbox[1]" title=" Látrabjarg; Summer 2017" ><img src="/includes/img/photos/photo_150.jpg" alt="Nesting Gulls
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Nesting Gulls</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_151.jpg" data-rel="lightbox[1]" title=" Látrabjarg; Summer 2017" ><img src="/includes/img/photos/photo_151.jpg" alt="Standing Puffin
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Standing Puffin</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_153.jpg" data-rel="lightbox[1]" title=" Gljúfrabúi; Summer 2017" ><img src="/includes/img/photos/photo_153.jpg" alt="Gljúfrabúi
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Inside Gljúfrabúi</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_154.jpg" data-rel="lightbox[1]" title=" Skógafoss; Summer 2017" ><img src="/includes/img/photos/photo_154.jpg" alt="View from Skógafoss
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            View from Skógafoss</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_155.jpg" data-rel="lightbox[1]" title=" Skógafoss; Summer 2017" ><img src="/includes/img/photos/photo_155.jpg" alt="View from Skógafoss
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            View from Skógafoss</span></div></a></div>