<div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_1.jpg" data-rel="lightbox[1]" title=" Pforzheimer House; Spring 2016" ><img src="/includes/img/photos/photo_1.jpg" alt="Caroline Tervo, Pfoho Reflections Speaker
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Caroline Tervo, Pfoho Reflections Speaker</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_103.jpg" data-rel="lightbox[1]" title=" Radcliffe Quadrangle; Spring 2016" ><img src="/includes/img/photos/photo_103.jpg" alt="Quad Formal
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Quad Formal</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_118.jpg" data-rel="lightbox[1]" title=" Weeks Footbridge, Cambridge, MA; Spring 2016" ><img src="/includes/img/photos/photo_118.jpg" alt="Taylor Weary Senior Photo
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Taylor Weary Senior Photo</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_2.jpg" data-rel="lightbox[1]" title=" Pforzheimer House; Spring 2016" ><img src="/includes/img/photos/photo_2.jpg" alt="Dawn Truong, Pforzheimer House
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Dawn Truong, Pforzheimer House</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_3.jpg" data-rel="lightbox[1]" title=" Pforzheimer House; Spring 2016" ><img src="/includes/img/photos/photo_3.jpg" alt="Mohammed Ors, Pfoho Reflections Speaker
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Mohammed Ors, Pfoho Reflections Speaker</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_146.jpg" data-rel="lightbox[1]" title=" Radcliffe Quadrangle; Winter 2016" ><img src="/includes/img/photos/photo_146.jpg" alt="Joey and Tess
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Joey and Tess</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_4.jpg" data-rel="lightbox[1]" title=" Pforzheimer House; Spring 2016" ><img src="/includes/img/photos/photo_4.jpg" alt="Neel Mehta, Pfoho Reflections Speaker
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Neel Mehta, Pfoho Reflections Speaker</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_119.jpg" data-rel="lightbox[1]" title=" Weeks Footbridge, Cambridge, MA; Spring 2016" ><img src="/includes/img/photos/photo_119.jpg" alt="Lexie Schachne Senior Photo
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Lexie Schachne Senior Photo</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_10.jpg" data-rel="lightbox[1]" title=" Radcliffe Quadrangle; Winter 2015" ><img src="/includes/img/photos/photo_10.jpg" alt="Kristen Shim, Pforzheimer Hose
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Kristen Shim, Pforzheimer Hose</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_20.jpg" data-rel="lightbox[1]" title=" Lowell House; January 2016" ><img src="/includes/img/photos/photo_20.jpg" alt="Elizabeth Mahon, Lowell House
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Elizabeth Mahon, Lowell House</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_22.jpg" data-rel="lightbox[1]" title=" Salem, MA; Spring 2015" ><img src="/includes/img/photos/photo_22.jpg" alt="In the Magnolias
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            In the Magnolias</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_40.jpg" data-rel="lightbox[1]" title=" Salem, MA; Summer 2015" ><img src="/includes/img/photos/photo_40.jpg" alt="Baby Shower Guests
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Baby Shower Guests</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_101.jpg" data-rel="lightbox[1]" title=" Radcliffe Quadrangle; Spring 2016" ><img src="/includes/img/photos/photo_101.jpg" alt="Quad Formal
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Quad Formal</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_78.jpg" data-rel="lightbox[1]" title=" Pforzheimer House; Spring 2014" ><img src="/includes/img/photos/photo_78.jpg" alt="Pforzheimer House Art Show
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Pforzheimer House Art Show</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_127.jpg" data-rel="lightbox[1]" title=" Weeks Footbridge, Cambridge, MA; Spring 2016" ><img src="/includes/img/photos/photo_127.jpg" alt="Taylor Weary Senior Photo
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Taylor Weary Senior Photo</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_84.jpg" data-rel="lightbox[1]" title=" Pforzheimer House; Spring 2016" ><img src="/includes/img/photos/photo_84.jpg" alt="Moses Kim, Pfoho Reflections Speaker
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Moses Kim, Pfoho Reflections Speaker</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_147.jpg" data-rel="lightbox[1]" title=" Radcliffe Quadrangle; Winter 2016" ><img src="/includes/img/photos/photo_147.jpg" alt="Joey and Tess
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Joey and Tess</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_85.jpg" data-rel="lightbox[1]" title=" Pforzheimer House; Spring 2016" ><img src="/includes/img/photos/photo_85.jpg" alt="Lisette Candia Diaz, Pfoho Reflections Speaker
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Lisette Candia Diaz, Pfoho Reflections Speaker</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_124.jpg" data-rel="lightbox[1]" title=" Weeks Footbridge, Cambridge, MA; Spring 2016" ><img src="/includes/img/photos/photo_124.jpg" alt="Alex and Raya Senior Photo
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Alex and Raya Senior Photo</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_86.jpg" data-rel="lightbox[1]" title=" Pforzheimer House; Spring 2016" ><img src="/includes/img/photos/photo_86.jpg" alt="William Greenlaw, Pfoho Reflections Speaker
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            William Greenlaw, Pfoho Reflections Speaker</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_96.jpg" data-rel="lightbox[1]" title=" Sanders Theater, Cambridge, MA; Spring 2015" ><img src="/includes/img/photos/photo_96.jpg" alt="David Malan
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            David Malan</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_100.jpg" data-rel="lightbox[1]" title=" Radcliffe Quadrangle; Spring 2016" ><img src="/includes/img/photos/photo_100.jpg" alt="Quad Formal
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Quad Formal</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_102.jpg" data-rel="lightbox[1]" title=" Radcliffe Quadrangle; Spring 2016" ><img src="/includes/img/photos/photo_102.jpg" alt="Quad Formal
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Quad Formal</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_105.jpg" data-rel="lightbox[1]" title=" Radcliffe Quadrangle; Spring 2016" ><img src="/includes/img/photos/photo_105.jpg" alt="Quad Formal
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Quad Formal</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_125.jpg" data-rel="lightbox[1]" title=" Weeks Footbridge, Cambridge, MA; Spring 2016" ><img src="/includes/img/photos/photo_125.jpg" alt="Alex Young Senior Photo
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Alex Young Senior Photo</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_31.jpg" data-rel="lightbox[1]" title=" Hingham, MA; Summer 2015 " ><img src="/includes/img/photos/photo_31.jpg" alt="Summer Hula-Hooping
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Summer Hula-Hooping</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_126.jpg" data-rel="lightbox[1]" title=" Grounds, Charlottesville, VA; Spring 2016" ><img src="/includes/img/photos/photo_126.jpg" alt="Hannah McSween Senior Photo
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Hannah McSween Senior Photo</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_113.jpg" data-rel="lightbox[1]" title=" Pforzheimer House, Cambridge MA; Winter 2013" ><img src="/includes/img/photos/photo_113.jpg" alt="Blocking Group Photo
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Blocking Group Photo</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_120.jpg" data-rel="lightbox[1]" title=" Grounds, Charlottesville, VA; Spring 2016" ><img src="/includes/img/photos/photo_120.jpg" alt="Hannah McSween Senior Photo
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Hannah McSween Senior Photo</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_122.jpg" data-rel="lightbox[1]" title=" Weeks Footbridge, Cambridge, MA; Spring 2016" ><img src="/includes/img/photos/photo_122.jpg" alt="Robbie and Angela Senior Photo
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Robbie and Angela Senior Photo</span></div></a></div><div class="qg-img" data-defwidth="435"><a href="/includes/img/highres/highres_123.jpg" data-rel="lightbox[1]" title=" Weeks Footbridge, Cambridge, MA; Spring 2016" ><img src="/includes/img/photos/photo_123.jpg" alt="Alex and Raya Senior Photo
            "/><div class="qg-overlay"><span class="icon-circle"><span class="pg-icon lightbox-icon">
            </span></span><span class="qg-title">
            Alex and Raya Senior Photo</span></div></a></div>