---
redirect_from: "/about.html"
redirect_from: "/author/jamescurtin/"
description: "I am a student at Harvard College studying Government and Computer Science. I have served as an elected member of the Bridgewater-Raynham Regional School Committee and am a former White House Associate. I enjoy photography, and do freelance work in the Cambridge area."
keywords: "about, harvard, white house, james curtin, james, curtin, photography, bridgewater, raynham"
title: "About James Curtin"
subtitle: "James W. Curtin"
---
{% include header.html %}
			<div id="content-container" class=" layout-full">
				<div id="full-width" class="content">
					<div class="custom-page-content">
						<div class="section-full-width section-light2 parallax-fixed" style="background-color:#EDF5F7;" id="lightstyletwo">
							<div style="background-image:url(/includes/img/highres/highres_26.jpg); opacity:0.1; filter: alpha(opacity=10);" class="full-bg-image" ></div>
							<div class="section-boxed" style="color:#252525;">
								<h2 class="section-title" style="color:#252525;">Who I am</h2>
								<p style="text-align: justify">
									I am a recent graduate from Harvard College where I studied <a href="http://www.gov.harvard.edu/" target="_blank">Government</a> and <a href="http://http://www.seas.harvard.edu/computer-science" target="_blank">Computer Science</a>. I was a resident of <a href="http://pfoho.harvard.edu/" target="_blank">Pforzheimer House</a>. I currently work at EverQuote in Cambridge, MA as a quantitative analyst.<br><br>

									I am proficient in multiple programming languages. I have worked in C, Python, PHP, and SQL, as well as HTML5 &amp; JavaScript. My interests within the field of computer science are data science and data visualization. When used in combination, data science and visualization make big data more accessible. They allow policymakers, practicioners, and the public to identify important trends and takeaways that would otherwise be obscured by noisy data.
								</p>
								<h4 style="color:#252525;" class="sub-title">
									Education and Experience
								</h4>
								<img src="/includes/img/photos/photo_98.jpg" class="alignleft" width="365" alt="James Curtin Headshot"/>
								<p style="text-align: justify">
									While at Harvard, I was a member of the <a href="http://www.iop.harvard.edu/" target="_blank">Harvard University Institute of Politics</a> (IOP), where I served on the Student Advisory Council. At the IOP, I led the Policy Program–the largest IOP program by membership. I administrated the production of <a href="http://www.iop.harvard.edu/PolicyGroups" target="_blank">multiple policy briefs</a> commissioned by the Massachusetts State Senate on topics ranging from education reform to medical device regulation.<br><br>

									In 2015, I finished a three-year term serving the communities of Bridgewater and Raynham, Massachusetts as an elected member of the <a href="http://bridge-rayn.org" target="_blank">Bridgewater-Raynham Regional School Committee</a>. I was elected at the age of 18&mdash;the youngest elected official in either town’s history. Serving my community was an honor, as it provided the opportunity to lend my time and effort to improve the school district that was so influential in contributing to my personal development.<br><br>

									During the summer of 2015, I was a fellow at Harvard Business School in the <a href="http://www.hbs.edu/doctoral/primo/Pages/default.aspx" target="_blank">Program for Research in Markets and Organizations</a> (PRIMO). As a PRIMO fellow, I drafted an article on corporate governance at wholly owned subsidiary corporations. I am a former White House Associate, where I worked in the Office of Presidential Correspondence (OPC).<br><br>

									As an undergraduate, I assisted English language learners improve their skills and become more comfortable in conversational settings at the <a href="http://bokcenter.harvard.edu/" target="_blank">Bok Center for Teaching and Learning</a>. I also worked as a Student Software Developer for <a href="http://huit.harvard.edu/" target="_blank">Harvard University Information Technology</a> working with the <a href="http://tlt.harvard.edu/" target="_blank">Teaching &amp; Learning Technologies</a> devision. During the 2015-16 academic year, I worked as a course assistant at the Kennedy School of Government and Graduate School of Design, where I held office hours, graded problem sets, and managed classroom logistics for graduate students in the course "Markets and Market Failures with Cases."<br><br>

									I am an Eagle Scout and maintain membership with the Boy Scouts of America as a Troop Committee Member in my home troop. I enjoy the outdoors, camping, hiking, and exploring.
								</p>
    							<h4 style="color:#252525;" class="sub-title">
    								My Photography
    							</h4>
    							<img src="/includes/img/highres/highres_46.jpg" class="alignright" width="365" alt="Spruce"/>
    							<p style="text-align: justify">
    								I spent the summer of 2013 working at the <a href="http://www.doaks.org/"  target="_blank">Dumbarton Oaks Research Library</a> in Washington, DC, which was <a href="http://travel.nationalgeographic.com/travel/top-10/gardens/#page=2" target="_blank">recognized by National Geographic</a> as having one of the best public gardens in the world. After spending a few weeks in the gardens, I decided to take up photography to document the beauty that I saw. Since then, my interest has grown and I strive to improve my skills as a photographer and capture meaningful moments in my life.<br><br>

									I have worked as a freelance photographer for <a href="http://cs50.smugmug.com" target="_blank">CS50</a>, and also do work for student groups and Harvard students. I welcome new opportunities to do event photography or portraiture for individuals in the Harvard community or Boston area.<br><br>

									<b>Updated:</b> August 7, 2016
								</p>
							</div>
						</div>
					</div>
				</div> <!-- end main content holder (#content/#full-width) -->
				<div class="clear"></div>
			</div> <!-- end #content-container -->
{% include footer.html %}