---
redirect_from:
  - /author/jamescurtin/
description: "I am a graduate of Harvard College where I studied Government and Computer Science. I was a resident of Pforzheimer House. I currently work at Wayfair on the B2B Insights and Analytics team."
keywords: "about, harvard, white house, james curtin, james, curtin, photography, bridgewater, raynham, wayfair, analytics"
title: "About James Curtin"
subtitle: "James W. Curtin"
last_modified_at: 2018-03-18 20:18
---

{% include header.html %}
<div id="content-container" class=" layout-full">
  <div id="full-width" class="content">
    <div class="custom-page-content">
      <div
        class="section-full-width section-light2 parallax-fixed"
        style="background-color:#EDF5F7;"
        id="lightstyletwo"
      >
        <div
          style="background-image:url(/includes/img/highres/highres_26.jpg); opacity:0.05; filter: alpha(opacity=10);"
          class="full-bg-image"
        ></div>
        <div class="section-boxed" style="color:#252525;">
          <h2 class="section-title" style="color:#252525;">Who I am</h2>
          <p style="text-align: justify">
            I am a graduate of Harvard College where I studied
            <a href="https://www.gov.harvard.edu/" target="_blank"
              >Government</a
            >
            and
            <a
              href="https://www.seas.harvard.edu/computer-science"
              target="_blank"
              >Computer Science</a
            >. I was a resident of
            <a href="https://pfoho.harvard.edu/" target="_blank"
              >Pforzheimer House</a
            >. I currently work at
            <a
              href="https://investor.wayfair.com/investor-relations/overview/default.aspx"
              target="_blank"
              >Wayfair</a
            >
            on the B2B Insights and Analytics team.<br /><br />
          </p>

          Wayfair generated $4.7B in net revenue in 2017, and the B2B division
          is on track to be a $1B business this year. As part of this growth, I
          am responsible for generating insights that empower the sales team to
          accelerate the revenue growth of our customers. Work I have done
          includes:
          <ul style="text-align: justify">
            <li>
              Development of churn models to quantify the impact of customer
              attrition, and implemented outreach test at risk customers
            </li>
            <li>
              Impact analysis of
              <a
                href="https://www.investopedia.com/terms/w/white-label-product.asp"
                target="_blank"
                >white labeling</a
              >
              on trade customers (architects, interior designers, contractors)
              using clickstream data. Built a tool for sales agents to find
              white labeled SKUs based on information provided to them by
              customers.
            </li>
            <li>
              Automation of process to identify high potential accounts to send
              to sales agents, yielding both time efficiency savings and
              incremental sales revenue.
            </li>
            <li>
              Implementation of B2B data governance initiative to standardize
              KPI calculations across teams, improve access to data, and
              increase overall data literacy of the B2B organization.
            </li>
          </ul>
          <br />

          <p style="text-align: justify">
            I work primarily in Python and SQL, but have also have worked in
            HTML5, JavaScript, PHP, and C. My interests within the field of
            computer science are data science and data visualization. When used
            in combination, data science and visualization make big data more
            accessible. They allow policymakers, practitioners, and the public
            to identify important trends and takeaways that would otherwise be
            obscured by noisy data.
          </p>
          <h4 style="color:#252525;" class="sub-title">
            Education and Experience
          </h4>
          <img
            src="/includes/img/photos/photo_156.jpg"
            class="alignleft"
            width="365"
            alt="James Curtin Headshot"
          />
          <p style="text-align: justify">
            While at Harvard, I was a member of the
            <a href="https://iop.harvard.edu/" target="_blank"
              >Harvard University Institute of Politics</a
            >
            (IOP), where I served on the Student Advisory Council. At the IOP, I
            led the Policy Program–the largest IOP program by membership. I
            administrated the production of
            <a
              href="https://iop.harvard.edu/get-involved/policy-program"
              target="_blank"
              >multiple policy briefs</a
            >
            commissioned by the Massachusetts State Senate on topics ranging
            from education reform to medical device regulation.<br /><br />

            In 2015, I finished a three-year term serving the communities of
            Bridgewater and Raynham, Massachusetts as an elected member of the
            <a href="http://bridge-rayn.org" target="_blank"
              >Bridgewater-Raynham Regional School Committee</a
            >. I was elected at the age of 18&mdash;the youngest elected
            official in either town’s history.<br /><br />

            During the summer of 2015, I was a fellow at Harvard Business School
            in the
            <a
              href="https://www.hbs.edu/doctoral/primo/Pages/default.aspx"
              target="_blank"
              >Program for Research in Markets and Organizations</a
            >
            (PRIMO). As a PRIMO fellow, I drafted an article on corporate
            governance at wholly owned subsidiary corporations. I am also a
            former White House Associate, where I worked in the Office of
            Presidential Correspondence (OPC).<br /><br />

            As an undergraduate, I helped English language learners improve
            their skills and become more comfortable in conversational settings
            at the
            <a href="https://bokcenter.harvard.edu/" target="_blank"
              >Bok Center for Teaching and Learning</a
            >. I also worked as a Student Software Developer for
            <a href="https://huit.harvard.edu/" target="_blank"
              >Harvard University Information Technology</a
            >
            working with the
            <a href="https://tlt.harvard.edu/" target="_blank"
              >Teaching &amp; Learning Technologies</a
            >
            devision.<br /><br />

            I am an Eagle Scout and maintain membership with the Boy Scouts of
            America as a Troop Committee Member in my home troop. I enjoy the
            outdoors, camping, hiking, and exploring.
          </p>
          <h4 style="color:#252525;" class="sub-title">
            My Photography
          </h4>
          <img
            src="/includes/img/photos/photo_152.jpg"
            class="alignright"
            width="365"
            alt="Puffin"
          />
          <p style="text-align: justify">
            I spent the summer of 2013 working at the
            <a href="https://www.doaks.org/" target="_blank"
              >Dumbarton Oaks Research Library</a
            >
            in Washington, DC, which was
            <a
              href="https://travel.nationalgeographic.com/travel/top-10/gardens/#page=2"
              target="_blank"
              >recognized by National Geographic</a
            >
            as having one of the best public gardens in the world. Spending time
            in the gardens inspired me to take up photography. Since then, my
            interest has grown and I strive to improve my skills as a
            photographer and capture meaningful moments in my life.<br /><br />

            I have worked as a freelance photographer for
            <a href="https://cs50.smugmug.com" target="_blank">CS50</a>, and
            also do work for student groups and Harvard students. I welcome new
            opportunities to do event photography or portraiture for individuals
            in the Harvard community or Boston area.<br /><br />

            <b>Updated:</b> March 18, 2018
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- end main content holder (#content/#full-width) -->
  <div class="clear"></div>
</div>
<!-- end #content-container -->
{% include footer.html %}
