---
redirect_from: "www.jamescurtin.com/portfolio.html"
redirect_from: "/portfolio/photographs/"
---
{% include header.html %}
	<div class="page-title-wrapper"><div class="page-title">
		<div class="content-boxed">
			<h1>Portfolio</h1>
			<span class="page-subtitle">James W. Curtin</span>		</div>
	</div>
</div>

</div>
<div id="content-container" class=" layout-full">
<div id="full-width" class="content">
<div class="section-boxed" id="section-1"></div><div class="quick-gallery qg-full qg-full-col-4" id="section-2">
    
    {% include mergedlist.html %}


    <div class="clear"></div></div></div> <!-- end main content holder (#content/#full-width) -->
<div class="clear"></div>
</div> <!-- end #content-container -->
</div>
{% include footer.html %}