---
redirect_from: "www.jamescurtin.com/portfolio.html"
redirect_from: "/portfolio/photographs/"
description: "Main portfolio of selected photography"
keywords: "james curtin, james, curtin, photography, portfolio"
title: "Portfolio"
subtitle: "James W. Curtin"
---
{% include header.html %}
			<div id="content-container" class=" layout-full">
				<div id="full-width" class="content">
					<div class="section-boxed" id="section-1"></div>
					<div class="quick-gallery qg-full qg-full-col-3" id="section-2">
						{% include mergedlist.html %}
						<div class="clear"></div>
					</div>
				</div> <!-- end main content holder (#content/#full-width) -->
				<div class="clear"></div>
			</div> <!-- end #content-container -->
{% include footer.html %}