<footer id="footer" class="center">
		<div class="scroll-to-top"><span></span></div>
	<div class="footer-bottom">
	<div class="section-boxed">
<span class="copyrights">
			&copy; James W. Curtin, Jr. 2015</span>
<div class="footer-nav">
<div class="menu-story-footer-menu-container"><ul id="menu-story-footer-menu" class="menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/">Home</a>
	<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="about.html">About</a></li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="resume.html">Resume</a></li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="portfolio.html">Portfolio</a></li></li>
</ul></div></div>
</div>
</div>
</footer> <!-- end #footer-->
</div> <!-- end #main-container -->


<!-- FOOTER ENDS -->

<script type='text/javascript' src='includes/js/underscore.min.js'></script>
<script type='text/javascript' src='includes/js/jquery/jquery.cookie.min.js'></script>
<script type='text/javascript' src='content/theme/js/main.js'></script>
<script type='text/javascript' src='content/theme/js/fullpage.js'></script>
<script type='text/javascript' src='includes/js/lightbox.js'></script>