<header>
    <div class="section-boxed section-header">
        <div id="logo-container">
            <a href="/"><img alt="Website Logo" src="/content/img/logo.png"></a>
        </div>


        <div class="mobile-nav">
            <span class="mob-nav-btn">Menu</span>
        </div>


        <nav class="navigation-container">
            <div class="nav-menu" id="menu">
                
                <ul class="menu-ul" id="menu-story-main-menu">
                    <li class=
                    "menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current_page_ancestor menu-item-has-children mega-menu-item">
                        <a href="/">Home</a>
                    </li>


                    <li class=
                    "menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current_page_ancestor menu-item-has-children mega-menu-item">
                        <a href="about.html">About</a>
                    </li>


                    <li class=
                    "menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
                        <a href="/resume.html">Resume</a>

                        <ul class="sub-menu">
                            <li class=
                            "menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="/coursework.html">Coursework</a>
                            </li>
                        </ul>
                    </li>


                    <li class=
                    "menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children mega-menu-item">
                    </li>


                    <li class=
                    "menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
                        <a href="/portfolio.html">Portfolio</a>

                        <ul class="sub-menu">
                            <li class=
                            "menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="portraits.html">People</a>
                            </li>


                            <li class=
                            "menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="events.html">Events</a>
                            </li>


                            <li class=
                            "menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="harvard.html">Harvard</a>
                            </li>


                            <li class=
                            "menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="nature.html">Nature/Outdoors</a>
                            </li>


                            <li class=
                            "menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="assorted.html">Assorted</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>


            <div class="header-buttons">
                <div class="social-profiles">
                    <ul class="social-icons">
                        <li>
                            <a href="https://www.linkedin.com/in/jameswcurtin" target="_blank"
                            title="LinkedIn">
                            <div class="fa fa-linkedin fa-lg fa-inverse">
                            </div></a>
                        </li>


                        <li>
                            <a href="https://twitter.com/" target="_blank" title="Twitter">
                            <div class="fa fa-twitter fa-lg fa-inverse">
                            </div></a>
                        </li>


                        <li>
                            <a href="https://flickr.com/jameswcurtin" target="_blank" title=
                            "Flickr">
                            <div class="fa fa-flickr fa-lg fa-inverse">
                            </div></a>
                        </li>


                        <li>
                            <a href="https://plus.google.com/+JamesCurtinJr" target="_blank"
                            title="Google+">
                            <div class="fa fa-google-plus fa-lg fa-inverse">
                            </div></a>
                        </li>


                        <li>
                            <a href="https://github.com/jamescurtin" target="_blank" title=
                            "GitHub">
                            <div class="fa fa-github fa-lg fa-inverse">
                            </div></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="clear">
        </div>


        <div id="navigation-line">
        </div>
    </div>
</header>
<!-- end #header -->