---
redirect_from: "/events.html"
redirect_from: "/portfolio/events/"
description: "Portfolio of event photography"
keywords: "event, james curtin, james, curtin, photography, harvard"
title: "Event Photography"
subtitle: "James W. Curtin"
slider: "eventsslider.html"
customjs: "smoothscroll.js"
---
{% include header.html %}
			<div id="content-container" class=" layout-full">
				<div id="full-width" class="content">
					<div class="custom-page-content">
						{% include slider.html %}
						<div class="quick-gallery qg-full qg-full-col-4" id="section-2">
							{% include events.html %}
							<div class="clear"></div>
						</div>
					</div>
				</div> <!-- end main content holder (#content/#full-width) -->
				<div class="clear"></div>
			</div> <!-- end #content-container -->
{% include footer.html %}